---
---

@import "{{ site.theme }}";

* {
  font-family: IranYekan, Tahoma, Arial, sans-serif !important;
}

body {
  direction: rtl !important;
  font-family: IranYekan, Tahoma, Arial, sans-serif !important;
}
.btn {
	margin-left: 1rem;
}

.site-footer {
	direction: ltr;
	text-align: center;
	background: #eee;
	padding: 1rem;
	border-radius: 0.5rem;
}